name: e2e tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-16.04
    steps:
    - uses: actions/checkout@v1
    - name: Cypress run
      uses: cypress-io/github-action@v1
      with:
        build: yarn install
        start: yarn serve
        wait-on: http://localhost:8080
